.wrapper{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.nomes{
    text-align: center;
}

.nome1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 200%;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.nome2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: red;
}

.nome3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: chocolate;
}

.nome4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
}

.nome5{
    font-family: 'Times New Roman', Times, serif;
    color: cornflowerblue;
}